.App-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.Nav-link-home {
  text-decoration: none;
  color: inherit
}
.Nav-links{
  display: flex;
  flex-direction: row;
}

.Nav-links a {
  margin-left: 20px ;
  color: inherit;
}

.Searchbar-Input {
  width: 50%;
}

.Articles-apercu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.Articles {
  text-align: center;
}

.Article-Apercu {
  width: 50%;
  margin: auto;
}

.image{
width: 20%;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-article {
  height: 200px;
}