.App-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.Nav-links{
  display: flex;
  flex-direction: row;
}

.Nav-links p {
  margin-left: 20px ;
}

.Articles {
  text-align: center;
}

.Article-Apercu {
  margin-left: 200px;
  margin-right: 200px
}